.tmp*
*.map
*.dtb
*.so
*.so.dbg
*.ko
*.mod.c
*.cmd
*.d
*.a
*.order
*.tmp
*.builtin
*.o
scripts/basic/modules.order
scripts/kconfig/zconf.*
_output_arm64/
_output_x86_64/
_output_riscv/
.config
vmlinux
*generated*
Module.symvers
.version
arch/arm64/kernel/asm-offsets.s
certs/signing_key.x509
crypto/asymmetric_keys/
crypto/rsaprivkey.asn1.c
crypto/rsaprivkey.asn1.h
crypto/rsapubkey.asn1.c
crypto/rsapubkey.asn1.h
include/config/
kernel/bounds.s
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.*
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.*
scripts/mod/devicetable-offsets.s
